:root {
    --color1: #451e9e ;
    --color2: #34178d ;
    --color3: #230f7b;
    --color4: #11086a;
    --color5: #000058;
    --color1-hover: #7b4fe19e; 
    --button-red: rgb(208, 40, 40); 
    --button-green: rgb(24, 147, 24);
    --button-blue: rgb(36, 36, 222);
}



.modal-container {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.modal-container.active {
    left: 0;
}

.modal-wrapper {
    width: 100%;
    max-width: 600px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--color1-hover);
    position: relative;
}

.modal-wrapper .title {
    padding: 8px 0;
    background-color: var(--color1);
    color: #FFF;
    font-size: .9rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-wrapper .container-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
    padding: 10px;
}

.modal-wrapper .container-input .input {
    width: 50%;
    margin: .5rem 0;
}

.modal-wrapper .container-input .input input {
    width: 90%;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bolder;
}   

.container-button {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.container-button button {
    margin: 0 7px;
    padding: .4rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

#save {
    background-color: var(--button-blue);
}

#cancel {
    background-color: var(--button-red);
}

.container-button button:hover {
    box-shadow: inset 200px 0 0 #00000044;
}

.button-close {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 3px 5px;
    border-bottom-left-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.button-close:hover {
    background-color: #FFF;
    color: #000;
}

